.pages_menu_container {
    width: 100%;
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    box-sizing: border-box;
}
