.page {
    width: 100%;
    position: relative;
}

.page:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.page_window_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
