.page {
    width: 100%;
    position: relative;
}

.page:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.page_window_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.pages_menu_dropdown {
    width: inherit;
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    background-color: #37B9F1;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.pages_menu_dropdown.selected {
    background-color: white;
    color: #37B9F1;
    opacity: 1;
}

.page_title {
    color: #37B9F1;
}

.page_element {
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    background-color: transparent;
    border-radius: 10px;
}

.page_element:hover {
    border: 2px dashed black;
    cursor: pointer;
}

.page_element:focus {
    border: 2px dashed black;
    cursor: pointer;
}

