.cart_item {
    box-sizing: border-box;
    width: 70%;
    height: 150px;
    border: 1px solid #30a6d9;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
}

.cart_item_image {
    height: 90%;
    margin-right: 15px;
}

.cart_item_text {
    display: flex;
    flex-direction: column;
}

.cart_item_links_row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart_item_links_row > p {
    color: #abaaaa;
    cursor: pointer;
}

.cart_item_space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_item_links_row > p:hover {
    color: #30a6d9;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .cart_item {
        width: 100%;
        height: 150px;
    }
    .cart_item_text > p {
        font-size: 12px;
        padding: 0;
        margin-bottom: 5px;
    }
    .cart_item_space_between {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .cart_item_links_row {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
}
