.pages_menu_dropdown {
    width: inherit;
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;
    background-color: #37B9F1;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.pages_menu_dropdown.selected {
    background-color: white;
    color: #37B9F1;
    opacity: 1;
}
